higher/tests/custom-bio-02/src/main/resources/customer/customer.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema elementFormDefault="unqualified"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:jaxb="https://jakarta.ee/xml/ns/jaxb"
	jaxb:version="3.0"
>

	<xs:element name="customer">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="name" type="xs:string"/>
				<xs:element name="bio">
					<xs:complexType mixed="false">
						<xs:sequence>
							<xs:any processContents="lax" minOccurs="0" maxOccurs="1" />
						</xs:sequence>
						<xs:attribute name="type" type="xs:string" />
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

</xs:schema>
