higher/tests/wildcard-bio/src/main/resources/résumé-xml/résumé-xml.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema elementFormDefault="qualified"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
>
	
	<xs:element name="résumé">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="name"/>
				<xs:element maxOccurs="unbounded" ref="history"/>
			</xs:sequence>
			<xs:attribute name="type" use="required" type="xs:NCName"/>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="history">
		<xs:complexType mixed="true">
			<xs:attribute name="period" use="required"/>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="name" type="xs:string"/>
	
</xs:schema>
