higher/tests/inheritance/src/main/resources/contact.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema elementFormDefault="unqualified"
	targetNamespace="http://example.org/contact"
	xmlns:tns="http://example.org/contact"
	xmlns:inh="urn:jvnet.org:basicjaxb:xjc:inheritance"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:jaxb="https://jakarta.ee/xml/ns/jaxb"
	jaxb:extensionBindingPrefixes="inh"
	jaxb:version="3.0"
>

	<xs:element name="Contact">
		<xs:complexType>
			<xs:annotation>
				<xs:appinfo>
					<inh:annotates annotation="java.beans.JavaBean">
						<inh:element name="description">Personal identity information.</inh:element>
					</inh:annotates>
				</xs:appinfo>
			</xs:annotation>
			<xs:sequence>
				<xs:element name="FirstName" type="xs:string" />
				<xs:element name="LastName" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

</xs:schema>
