higher/tests/beaninfo/src/main/resources/beaninfo.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
	targetNamespace="urn:jvnet.org:basicjaxb:xjc:beaninfo"
	xmlns:tns="urn:jvnet.org:basicjaxb:xjc:beaninfo"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:jaxb="https://jakarta.ee/xml/ns/jaxb"
	jaxb:version="3.0"
>

	<xs:element name="bean">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="displayName" type="xs:string" minOccurs="0" />
				<xs:element name="description" type="xs:string" minOccurs="0" />
				<xs:element name="constraint" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="source" minOccurs="1">
								<xs:complexType>
									<xs:attribute name="name" type="xs:string" use="required"/>
									<xs:attribute name="fields" type="tns:fieldsType" use="required"/>
									<xs:attribute name="unique" type="xs:boolean" use="required"/>
								</xs:complexType>
							</xs:element>
							<xs:element name="target" minOccurs="0">
								<xs:complexType>
									<xs:attribute name="name" type="xs:string" use="required"/>
									<xs:attribute name="fields" type="tns:fieldsType" use="required"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="name" type="xs:string"/>
						<xs:attribute name="owner" type="xs:string"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="name" type="xs:string"/>
			<xs:attribute name="expert" type="xs:boolean" />
			<xs:attribute name="hidden" type="xs:boolean" />
			<xs:attribute name="preferred" type="xs:boolean" />
		</xs:complexType>
	</xs:element>
	
	<xs:element name="property">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="displayName" type="xs:string" minOccurs="0" />
				<xs:element name="description" type="xs:string" minOccurs="0" />
				<xs:element name="rendererClass" type="xs:string" minOccurs="0" />
				<xs:element name="editorClass" type="xs:string" minOccurs="0" />
				<xs:element name="readMethodName" type="xs:string" minOccurs="0" />
				<xs:element name="writeMethodName" type="xs:string" minOccurs="0" />
			</xs:sequence>
			<xs:attribute name="name" type="xs:string" />
			<xs:attribute name="index" type="xs:int" />
			<xs:attribute name="access" type="tns:accessType" />
			<xs:attribute name="alignment" type="tns:alignmentType" />
			<xs:attribute name="editable" type="xs:boolean" />
			<xs:attribute name="resizable" type="xs:boolean" />
			<xs:attribute name="maxWidth" type="xs:int" />
			<xs:attribute name="minWidth" type="xs:int" />
			<xs:attribute name="preferredWidth" type="xs:int" />
			<!-- 
			<xs:attribute name="width" type="xs:int" />
			-->
			<xs:attribute name="bound" type="xs:boolean" />
			<xs:attribute name="constrained" type="xs:boolean" />
			<xs:attribute name="expert" type="xs:boolean" />
			<xs:attribute name="hidden" type="xs:boolean" />
			<xs:attribute name="preferred" type="xs:boolean" />
		</xs:complexType>
	</xs:element>

    <xs:simpleType name="alignmentType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="LEFT" />
            <xs:enumeration value="RIGHT" />
            <xs:enumeration value="CENTER" />
            <xs:enumeration value="LEADING" />
            <xs:enumeration value="TRAILING" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="accessType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="READ_ONLY" />
            <xs:enumeration value="WRITE_ONLY" />
            <xs:enumeration value="READ_WRITE" />
        </xs:restriction>
    </xs:simpleType>

	<xs:simpleType name='fieldsType'>
		<xs:list itemType='xs:string' />
	</xs:simpleType>

</xs:schema>
<!-- vi:set tabstop=4 hardtabs=4 shiftwidth=4: -->
