higher/assembly/samples/cxf/src/main/resources/schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:test-schema="urn:test:schema"
	targetNamespace="urn:test:schema"
	elementFormDefault="qualified"
	attributeFormDefault="unqualified">

	<xs:complexType name="RequestType">
	</xs:complexType>
	<xs:complexType name="ResponseType">
	</xs:complexType>
	<xs:complexType name="FaultType">
	</xs:complexType>

</xs:schema>
